@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.auto-form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 350px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(219, 142, 238); 
}

body {
    background-color: rgb(245, 230, 253);
}

.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
}

.wrapper .input_field{
    margin-bottom: 10px;
}

.task-list{
    margin-left: 450px;
}

.previous-btn{
    margin-top: 550px;
    margin-left: 770px;
}

.next-btn{
    margin-top: 550px;
}

.btn{
    color: rgb(19, 19, 19);
    background-color: rgb(221, 201, 204);
    cursor: pointer;
    text-transform: uppercase;
}

.previous-btn, .next-btn{
    color: rgb(19, 19, 19);
    background-color: rgb(221, 201, 204);
    cursor: pointer;
    text-transform: uppercase;
}

.btn-closer{
    cursor: pointer;
}

.main-modal {
    position: absolute;
    left: 0%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.inner-modal {
    width: 450px;
    height: 250px;
    background-color: #ffffff;
    text-align: center;
    margin: 15% auto;
}

.close{
    text-align: end;
}

